<div class="login">

  <div *ngIf="(user | async)?.id" class="login__logged-in">
    Logged in as: {{ (user | async)?.email }}
    <p (click)="onLogout()">Logout</p>
  </div>

  <div *ngIf="!(user | async)?.id" class="form__wrapper">
    <form (ngSubmit)="onSubmit($event)" #loginForm="ngForm" novalidate class="form">
      <div class="form__element">
        <label>email</label>
        <input [(ngModel)]="model.email" id="email" name="email" #email="ngModel" type="text" required />
        <div [hidden]="email.valid || email.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>
      <div class="form__element">
        <label>Password</label>
        <input [(ngModel)]="model.password" id="password" name="password" #password="ngModel" type="password" required />
        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          Password is required
        </div>
      </div>
      <div class="form__element form__button-wrapper">
        <button type="submit" class="button button--primary" [disabled]="!loginForm.form.valid">Login</button>
      </div>
    </form>

    <div class="form__button-wrapper">
      <a [routerLink]=" ['./signup'] " class="button--link">
        Sign up
      </a>
    </div>

  </div>
</div>
