<div class="login">

  <div *ngIf="!(user | async)?.id" class="form__wrapper">
    <form (ngSubmit)="onSubmit($event)" #loginForm="ngForm" novalidate class="form">
      <div class="form__element">
        <span class="input" [ngClass]="{'active' : model.email}">
           <input [(ngModel)]="model.email" id="email" name="email" #email="ngModel" type="text" required />
           <label for="email">
             Email
           </label>
        </span>
        <div [hidden]="email.valid || email.pristine"
             class="alert alert-danger">
          Email is required
        </div>
      </div>
      <div class="form__element">
        <span class="input" [ngClass]="{'active' : model.password}">
           <input [(ngModel)]="model.password" id="password" name="password" #password="ngModel" type="password" required />
           <label for="password">
             Password
           </label>
        </span>
        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          Password is required
        </div>
      </div>
      <div class="form__element form__button-wrapper">
        <button type="submit" class="button button--primary" [disabled]="!loginForm.form.valid">Login</button>
      </div>
    </form>

    <div class="form__button-wrapper">
      <a [routerLink]=" ['./signup'] " class="button--link">
        Sign up
      </a>
    </div>

  </div>
</div>
