.login {

  padding: 100px 0;

  &__form-wrapper {
    width: 300px;
    margin: 0 auto;
  }

  &__logged-in {
    width: 300px;
    margin: 0 auto;
  }

  &__sign-up {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  &__submit-btn {
    text-align: center;
  }
}
