
<div class="form__wrapper">
  <form (ngSubmit)="onSave($event)" #addLeagueForm="ngForm" class="form" novalidate>
    <div class="form__element">
      <label>League Name</label>
      <input [(ngModel)]="model.name" id="name" name="name" type="text" #name="ngModel" required />
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="form__element">
      <label>Start Date</label>
      <input [(ngModel)]="model.startDate" id="startDate" name="startDate" type="text" #startDate="ngModel" required />
      <div [hidden]="startDate.valid || startDate.pristine"
           class="alert alert-danger">
        Start Date is required
      </div>
    </div>
    <div class="form__element">
      <label>Round Length (days)</label>
      <input [(ngModel)]="model.period" id="period" name="period" type="text" #period="ngModel" required />
      <div [hidden]="period.valid || period.pristine"
           class="alert alert-danger">
        Round Length is required
      </div>
    </div>
    <div class="form__button-wrapper">
      <button  [disabled]="!addLeagueForm.form.valid">Save</button>
    </div>
  </form>
</div>
