<div class="signup">

  <div *ngIf=" isSuccessful | async " class="signup__success-wrapper">
    <p>Successfully signed up.</p>
    <a class="button--link" [routerLink]=" [''] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Login
    </a>
  </div>

  <div *ngIf=" !(isSuccessful | async) " class="signup__form-wrapper">
    <form (ngSubmit)="onSignup($event)" #signupForm="ngForm" novalidate class="form">
      <div  class="form__element">
        <label>email</label>
        <input [(ngModel)]="model.email" id="email" name="email" #email="ngModel" required type="text" />
        <div [hidden]="email.valid || email.pristine"
             class="alert alert-danger">
          Email is required
        </div>
      </div>
      <div class="form__element">
        <label>First Name</label>
        <input [(ngModel)]="model.firstName" id="firstName" name="firstName" #firstName="ngModel" required type="text" />
        <div [hidden]="firstName.valid || firstName.pristine"
             class="alert alert-danger">
          First Name is required
        </div>
      </div>
      <div class="form__element">
        <label>Last Name</label>
        <input [(ngModel)]="model.lastName" id="lastName" name="lastName" #lastName="ngModel" required type="text" />
        <div [hidden]="lastName.valid || lastName.pristine"
             class="alert alert-danger">
          Last Name is required
        </div>
      </div>
      <div class="form__element">
        <label>Password</label>
        <input [(ngModel)]="model.password" id="password" name="password" #password="ngModel" required type="password" />
        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          Password is required
        </div>
      </div>
      <div class="form__element signup__submit-btn">
        <button class="button button--primary" [disabled]="!signupForm.form.valid">Sign up</button>
      </div>
    </form>
  </div>
</div>
