<div class="signup">

  <div *ngIf="isSuccessful" class="signup__success-wrapper">
    <p>Successfully signed up.</p>
    <a class="button--link" [routerLink]=" [''] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Login
    </a>
  </div>

  <div *ngIf=" !(isSuccessful) " class="signup__form-wrapper">
    <form (ngSubmit)="onSignup($event)" #signupForm="ngForm" novalidate class="form">
      <div  class="form__element">
        <span class="input" [ngClass]="{'active' : model.email}">
           <input [(ngModel)]="model.email" id="email" name="email" #email="ngModel" required type="text" />
           <label for="email">
             Email
           </label>
        </span>
        <div [hidden]="email.valid || email.pristine"
             class="alert alert-danger">
          Email is required
        </div>
      </div>
      <div class="form__element">
        <span class="input" [ngClass]="{'active' : model.info.firstName}">
           <input [(ngModel)]="model.info.firstName" id="firstName" name="firstName" #firstName="ngModel" required type="text" />
           <label for="firstName">
             First Name
           </label>
        </span>
        <div [hidden]="firstName.valid || firstName.pristine"
             class="alert alert-danger">
          First Name is required
        </div>
      </div>
      <div class="form__element">
        <span class="input" [ngClass]="{'active' : model.info.lastName}">
           <input [(ngModel)]="model.info.lastName" id="lastName" name="lastName" #lastName="ngModel" required type="text" />
           <label for="lastName">
             Last Name
           </label>
        </span>
        <div [hidden]="lastName.valid || lastName.pristine"
             class="alert alert-danger">
          Last Name is required
        </div>
      </div>
      <div class="form__element">
        <span class="input" [ngClass]="{'active' : model.password}">
           <input [(ngModel)]="model.password" id="password" name="password" #password="ngModel" required type="password" />
           <label for="password">
             Password
           </label>
        </span>
        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          Password is required
        </div>
      </div>
      <div class="form__element">
         <span class="select">
           <select [(ngModel)]="model.info.country" id="country" name="country" #country="ngModel" required>
             <option selected disabled hidden></option>
             <option>One</option>
             <option>Two</option>
           </select>
           <label for="country">
             Country
           </label>
        </span>
        <!--
        <input [(ngModel)]="model.info.country" id="country" name="country" #country="ngModel" required type="text" />
        -->
        <div [hidden]="country.valid || country.pristine"
             class="alert alert-danger">
          Country is required
        </div>
      </div>
      <div class="form__element signup__submit-btn">
        <button class="button button--primary" [disabled]="!signupForm.form.valid">Sign up</button>
      </div>
      <div *ngIf="validationError">
        {{validationError}}
      </div>
    </form>
  </div>
</div>
