<nav class="menu">

  <ul>
    <li>
      <a class="button--link" [routerLink]=" ['./account'] "
         routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Account</a>
    </li>
    <li>
      <a class="button--link" [routerLink]=" ['./'] "
         routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Leagues
      </a>
    </li>
    <li>
      <a [routerLink]=" ['./join'] "
         routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Join
      </a>
    </li>
    <li>
      <a [routerLink]=" ['./add'] "
         routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Add
      </a>
    </li>
  </ul>

</nav>
