<nav class="menu">

  <div class="menu__inner">
    <div class="menu__profile">
      <img src="{{user.image}}" class="menu__image" />

      <div class="menu__profile-wrapper">
      </div>
      <div (click)="logout.emit()">Logout</div>
    </div>

    <div class="menu__item">
      <a class="button--link" [routerLink]=" ['./'] "
         routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Leagues
      </a>
    </div>

    <div class="menu__item menu__item--circle">
      <a [routerLink]=" ['./join'] "
         routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        k
      </a>
    </div>

    <div class="menu__item menu__item--circle">
      <a [routerLink]=" ['./add'] "
         routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        +
      </a>
    </div>
  </div>

</nav>
