.menu {

  height: 40px;
  background-color: #fff;

  &__inner {
    float: right;
    position: relative;
    height: 40px;
  }

  &__avatar-wrapper {
    padding: 0 5px;
    display: inline-block;
  }

  &__league-btn-wrapper {
    padding: 0 5px;
    display: inline-block;
  }

  &__image {
    width: 30px;
    height: 30px;
    border-radius: 36px;
    border: solid #CCC 3px;
  }

  &__list {
    top: 40px;
    position: absolute;
    display: none;
    background-color: #fff;
    list-style: none;
    padding: 0;

    &--open {
      display: block;
    }

    &--league {
      right: 50px;
    }

    &--account {
      right: 10px;
    }
  }

  &__list-item {
    padding: 20px;
  }
}
